@use "../utils/variables" as *;
@use "../utils/base" as *;
@use "../utils/mixins" as *;

.descriptions {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;

  @include desktop {
    flex-wrap: nowrap;
    padding-bottom: 94px;
  }
  &__item {
    width: 450px;

    @include tablet {
      width: 354px;
    }

    @include desktop {
      width: 270px;
    }
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    margin-bottom: 30px;
    fill: var(--text-color-1);
    background-color: var(--secondary-color);
    width: 100%;

    @include tablet {
      max-width: 354px;
      padding: 25px 0;
    }

    @include desktop {
      max-width: 270px;
      padding: 25px 0;
    }
  }
  &__text-container {
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;
    color: var(--text-color-2);
  }
}
