@use "../utils/variables" as *;
@use "../utils/base" as *;
@use "../utils/mixins" as *;

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  flex-wrap: wrap;
  max-width: 480px;
  @include tablet {
    max-width: 768px;
    justify-content: space-around;
  }
  @include desktop {
    justify-content: flex-start;
    max-width: 1200px;
    flex-wrap: nowrap;
    gap: 70px;
  }
  &__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include desktop {
      align-items: flex-start;
    }
  }
  &__socials {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 60px;

    @include tablet {
      padding-top: 5px;
      margin-top: 0px;
    }
    @include desktop {
      padding-top: 12px;
      padding-bottom: 0;
      margin-top: 0px;
    }
  }
  &__newsletter {
    display: flex;
    flex-direction: column;
    margin-top: 60px;

    @include desktop {
      align-self: flex-start;
      padding-top: 12px;
      padding-bottom: 0;
      margin-top: 0;
    }

    &--grow {
      flex-grow: 2;
    }
  }
}

.footer-contact {
  font-style: normal;
  color: var(--text-color-3);
  display: flex;
  flex-direction: column;
  gap: 9px;
  &__address {
    color: var(--text-color-3);
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-align: center;
    @include desktop {
      text-align: left;
    }
    &:hover,
    &:focus {
      color: var(--text-color-4);
      cursor: pointer;
      outline: none;
    }
  }
  &__link {
    color: var(--text-color-6);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.714;
    text-align: center;
    @include desktop {
      text-align: left;
    }
    &:hover {
      color: var(--text-color-4);
    }
    &:focus {
      color: var(--text-color-4);
      outline: none;
    }
  }
  &__link-portfolio {
    color: var(--text-color-6);
    font-size: 14px;
    line-height: 1.714;
    &:hover {
      color: var(--text-color-4);
      text-decoration: none;
    }
    &:focus {
      color: var(--text-color-4);
      outline: none;
    }
  }
}

.social-icons-list {
  list-style-type: none;
  max-width: 206px;
  display: flex;
  gap: 10px;
  &__item {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    &:hover,
    &:focus {
      background-color: var(--quaternary-color);
      cursor: pointer;
    }
  }
  &__icon {
    fill: var(--primary-color);
    padding: 12px;
  }
}

.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
    gap: 12px;
  }
  &__label-box {
    flex-grow: 2;
    width: 450px;
    @include desktop {
      width: auto;
    }
  }
  &__email-box {
    position: relative;
    width: 100%;

    background-color: rgba(33, 150, 243, 0);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    height: 50px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    padding: 15px 16px;
    color: var(--text-color-3);
    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.03em;
    }
    &:focus {
      outline: none;
      transition: $animation;
    }
  }
  &__button {
    margin-top: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    background-color: var(--quaternary-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 28px 10px 42px;
    display: inline-flex;
    align-items: center;
    border: none;
    color: var(--text-color-3);
    flex-grow: 0;
    @include desktop {
      margin-top: 0;
    }
    &:hover {
      cursor: pointer;
      transition: $animation;
    }
  }
  &__icon {
    margin-left: 24px;

    display: flex;
    align-items: center;
    fill: var(--primary-color);
  }
}
