@use "../utils/variables" as *;
@use "../utils/base" as *;
@use "../utils/mixins" as *;

.logotext {
  color: var(--text-color-4);
  text-decoration: none;
  font-family: "Raleway";

  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  @include desktop {
    font-size: 26px;
    line-height: 1.192;
  }

  &:hover {
    color: var(--text-color-4);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .logotext--dark {
      color: var(--text-color-4);
      transition-property: color;
      transition: $animation;
    }
    .logotext--light {
      color: var(--text-color-4);
      transition-property: color;
      transition: $animation;
    }
  }
  &:focus {
    outline: none;
    transition-property: color;
    transition: $animation;
    .logotext--dark {
      color: var(--text-color-4);
      transition-property: color;
      transition: $animation;
    }
    .logotext--light {
      color: var(--text-color-4);
      transition-property: color;
      transition: $animation;
    }
  }
  &--position-header {
    flex-grow: 0;
    @include tablet {
      margin-right: 83px;
    }

    @include desktop {
      margin-right: 93px;
    }
  }
  &--position-footer {
    padding-bottom: 20px;
  }
  &--dark {
    color: var(--text-color-5);
  }
  &--light {
    color: var(--text-color-3);
  }
}
