@use "../utils/variables" as *;
@use "../utils/base" as *;
@use "../utils/mixins" as *;

.main-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 118px 0;
  gap: 30px;

  @include desktop {
    padding: 200px 0;
  }

  &__order-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    letter-spacing: 0.06em;
    background: var(--quaternary-color);
    color: var(--text-color-3);
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    max-width: 200px;
    padding: 10px 41px;
  }
}
