@use "../utils/variables" as *;
@use "../utils/base" as *;
@use "../utils/mixins" as *;

.menu-toggle {
  background: none;
  border: none;
}

@media screen and (max-width: $phone-end) {
  .menu-list,
  .header-contact {
    display: none;
  }
}

@media screen and (min-width: $tablet-start) {
  .menu-toggle {
    display: none;
  }
}

.hamburger {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-color);
  transform: translateY(-100%);
  transition-property: transform;
  transition: $animation;

  & .is-open {
    transform: translateY(0);
    transition-property: transform;
    transition: $animation;
  }

  & .menu-toggle {
    position: absolute;
    top: 10px;
    right: 15px;
  }

  &__icon {
    fill: var(--text-color-1);
    cursor: pointer;
    transition-property: fill;
    transition: $animation;
  }

  &__icon:hover {
    fill: var(--text-color-4);
  }

  &__icon--close {
    transition-property: transform;
    transition-duration: 1000ms;
    transition-timing-function: ease;
  }

  &__content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    overflow-y: auto;
  }

  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: var(--text-color-1);
    text-decoration: none;
  }

  &__link:hover {
    color: var(--text-color-4);
  }

  &__contacts {
    display: flex;
    flex-direction: column;
  }

  &__tel {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  &__tel--link {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.176;
    letter-spacing: 0.02em;
    color: var(--text-color-4);
    text-decoration: none;
  }

  &__mail {
    margin-bottom: 64px;
  }

  &__mail--link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    color: var(--text-color-2);
    text-decoration: none;
  }

  &__socials {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-decoration: none;
  }

  &__socials--item {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }

  &__socials--item:last-child {
    border: none;
  }

  &__socials--link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--text-color-4);
  }
}
