@use "../utils/variables" as *;
@use "../utils/base" as *;
@use "../utils/mixins" as *;

.customer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;

  @include desktop {
    flex-wrap: nowrap;
  }
  &__link {
    width: 210px;
    height: 92px;
    padding: 16px 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    &:hover,
    &:focus {
      border: 1px solid var(--quaternary-color);
      cursor: pointer;
      outline: none;
      transition: $animation;
      transition-property: border;
      svg {
        fill: var(--quaternary-color);
        cursor: pointer;
        transition-property: fill;
        transition: $animation;
      }
    }
    @include tablet {
      width: 226px;
      padding: 16px 60px;
    }

    @include desktop {
      width: 170px;
      padding: 16px 32px;
    }
  }

  &__icon {
    fill: var(--quintuple-color);
  }
}
