@use "./variables" as *;
@use "./mixins" as *;

.header-primary {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color-3);
  max-width: 365px;

  @include desktop {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}
.header-secondary {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.178;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 30px;
  @include desktop {
    font-size: 36px;
    line-height: 1.166;
    padding-bottom: 50px;
  }
}

.header-tertiary {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 10px;
  &--align {
    text-align: center;
    @include desktop {
      text-align: left;
    }
  }
}

.header-quaternary {
  color: var(--text-color-3);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 20px;

  &--align {
    text-align: center;
    @include desktop {
      text-align: left;
    }
  }
}
