:root {
  --primary-color: #ffffff;
  --secondary-color: #f5f4fa;
  --tertiary-color: #2f303a;
  --quaternary-color: #2196f3;
  --quintuple-color: #afb1b8;

  --text-color-1: #212121;
  --text-color-2: #757575;
  --text-color-3: #ffffff;
  --text-color-4: #2196f3;
  --text-color-5: #000000;
  --text-color-6: #ffffff99;

  --line-color: #ececec;
}
$fontMain: "Roboto", sans-serif;
$fontSecondary: "Raleway";
$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
